XML operations using C#/Assignment4-Rajagopaalan.S/assign4tryit/assign4tryit/Service References/ServiceReference1/xmlservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="xPathfind">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlpath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xPathexpr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="xPathfindResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xPathfindResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verification">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlpath" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="xsdpath" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="verificationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="verificationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="xPathfindSoapIn">
    <wsdl:part name="parameters" element="tns:xPathfind" />
  </wsdl:message>
  <wsdl:message name="xPathfindSoapOut">
    <wsdl:part name="parameters" element="tns:xPathfindResponse" />
  </wsdl:message>
  <wsdl:message name="verificationSoapIn">
    <wsdl:part name="parameters" element="tns:verification" />
  </wsdl:message>
  <wsdl:message name="verificationSoapOut">
    <wsdl:part name="parameters" element="tns:verificationResponse" />
  </wsdl:message>
  <wsdl:portType name="xmlserviceSoap">
    <wsdl:operation name="xPathfind">
      <wsdl:input message="tns:xPathfindSoapIn" />
      <wsdl:output message="tns:xPathfindSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="verification">
      <wsdl:input message="tns:verificationSoapIn" />
      <wsdl:output message="tns:verificationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="xmlserviceSoap" type="tns:xmlserviceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="xPathfind">
      <soap:operation soapAction="http://tempuri.org/xPathfind" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verification">
      <soap:operation soapAction="http://tempuri.org/verification" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="xmlserviceSoap12" type="tns:xmlserviceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="xPathfind">
      <soap12:operation soapAction="http://tempuri.org/xPathfind" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="verification">
      <soap12:operation soapAction="http://tempuri.org/verification" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="xmlservice">
    <wsdl:port name="xmlserviceSoap" binding="tns:xmlserviceSoap">
      <soap:address location="http://localhost:62873/xmlservice.asmx" />
    </wsdl:port>
    <wsdl:port name="xmlserviceSoap12" binding="tns:xmlserviceSoap12">
      <soap12:address location="http://localhost:62873/xmlservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>